/* tablet */

@media only screen and (min-width:701px) and (max-width:1100px) {
  nav .signin-button {
    display: inline-block;
    width: 120px;
    height: 50px;
    font-size: 24px;
    background-color: #1956B4;
    font-weight: 700;
    margin-left: 76%;
    margin-top: 40px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1.5px;
  }
  
  nav .signin-button:hover {
    transition: ease-in-out;
    transition-duration: 150ms;
    background-color: greenyellow;
    color: #1956B4;
  }
}

/* desktop */

@media only screen and (min-width:1101px) and (max-width:1980px) {
  nav .signin-button {
    display: inline-block;
    width: 120px;
    height: 50px;
    font-size: 24px;
    background-color: #1956B4;
    font-weight: 700;
    margin-left: 86%;
    margin-top: 40px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1.5px;
    box-shadow: 0 0 9px #999;
  }
  
  nav .signin-button:hover {
    transition: ease-in-out;
    transition-duration: 150ms;
    background-color: greenyellow;
    color: #1956B4;
  }
}
