@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Gemunu Libre', sans-serif;
  box-sizing: border-box;
  background-color: #eee;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 200px;
  width: 100%;
}

main .image-section {
  width: 40%;
  height: 550px;
  border-radius: 15px;
  box-shadow: 9px 9px 9px #999;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-image: url(../src/assets/homeimage.jpg);
}

main .text-section {
  width: 40%;
  height: 100%;
  margin: 0 20px;
  display: flex;
  align-items: center;
}

main .text-section {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
}

